html {
  height: 100%;
  width: 100%;
  background-color: #8eafd2;
}

/*Start Screen*/
h1 {
  font-size: 100px;
  text-align: center;
  font-family: fantasy;
  font-weight: bold;
}

#description {
  font-size: 30px;
  text-align: center;
  margin-top: 50px;
  font-family: 'Courier New', monospace;
}

#thief-pic {
  width: 400px;
  height: auto;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#startBut {
  width: 500px;
  height: 100px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  border-radius: 10px;
  border-width: 10px;
  border-color: #d2c960;
  font-size: 50px;
  font-family: 'Courier New', monospace;
}

/*Main Layout*/
#main-layout {
  visibility: hidden;
}

#clock {
  font-size: 50px;
  margin: 20px;
  font-family: 'Courier New', monospace;
  background-color: #bd93bd;
  border-style: inset;
  width: 300px;
  height: 70px;
  text-align: center;
}

.game-structure {
  display: flex;
}

#guesses-box {
  display: flex;
  background-color: gray;
  width: 700px;
  height: 230px;
  justify-content: center;
}

#guess1 {
  width: 140px;
  height: 150px;
  background-color: #6c7e67;
  margin: 40px;
  font-size: 100px;
  text-align: center;
}

#guess2 {
  width: 140px;
  height: 150px;
  background-color: #6c7e67;
  margin: 40px;
  font-size: 100px;
  text-align: center;
}

#guess3 {
  width: 140px;
  height: 150px;
  background-color: #6c7e67;
  margin: 40px;
  font-size: 100px;
  text-align: center;
}

#number-pad {
  display: flex;
  background-color: gray;
  width: 700px;
  height: 230px;
  justify-content: center;
}

#one {
  margin: 30px;
  width: 150px;
  height: 100px;
  font-size: 50px;
  text-align: center;
  font-family: 'Courier New', monospace;
}

#two {
  margin: 30px;
  width: 150px;
  height: 100px;
  font-size: 50px;
  text-align: center;
  font-family: 'Courier New', monospace;
}

#three {
  margin: 30px;
  width: 150px;
  height: 100px;
  font-size: 50px;
  text-align: center;
  font-family: 'Courier New', monospace;
}

#submit-pad {
  display: flex;
  background-color: gray;
  width: 700px;
  height: 50px;
  justify-content: center;
}

#submit {
  width: 400px;
  margin-bottom: 20px;
  height: 40px;
  font-size: 30px;
  font-family: 'Courier New', monospace;
}

#console {
  width: 700px;
  height: 500px;
  background-color: #b5a6a6;
  margin-left: 60px;
  border-radius: 30px;
}
#console-text {
  text-align: center;
  margin: 20px;
  font-size: 50px;
}